@model IEnumerable<Sample.Model.Entities.Products>

@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">

        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img src="@item.Pictures" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Ürün Adı : @item.Name</h5>
                        <p class="card-text">Barkod : @item.Barcode</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Fiyat : @item.Price ₺ </li>
                        <li class="list-group-item">Açıklama : @item.Description</li>
                        <li class="list-group-item">Miktar : @item.Quantity</li>
                    </ul>

                </div>
            </div>
        }
    </div>
</div>


