@model IEnumerable<Sample.Model.Entities.Products>

@{
    ViewBag.Title = "Index";
}

<div class="col-sm-12">
    @if (ViewBag.successAlert == true)
    {
        <div class="alert alert-success alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>@ViewBag.alertMessage</strong>
        </div>

    }

    @if (ViewBag.dangerAlert == true)
    {
        <div class="alert alert-danger alert-dismissible">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>@ViewBag.alertMessage</strong>
        </div>
    }

    <div class="col-sm-6">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title" style="text-align: center;padding-bottom: 20px;">Yeni Ürün</h5>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("AddProduct", "Home", FormMethod.Post, new { @class = "login-form", enctype = "multipart/form-data" }))
                {
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Ürün Fotoğrafı</label>
                                <input type="file" class="custom-file-input" id="productFile" name="file">
                                <label class="custom-file-label" for="productFile">Ürün Fotoğrafı Ekle</label>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 pr-1">
                            <div class="form-group">
                                <label>Ürün Adı</label>
                                <input type="text" class="form-control" placeholder="Ürün Adı" name="name">
                            </div>
                        </div>
                        <div class="col-md-3 px-1">
                            <div class="form-group">
                                <label>Barkod</label>
                                <input type="text" class="form-control" placeholder="Barkod" name="barcode">
                            </div>
                        </div>
                        <div class="col-md-3 pl-1">
                            <div class="form-group">
                                <label>Fiyat</label>
                                <input type="number" class="form-control" placeholder="Fiyat" name="price">
                            </div>
                        </div>
                        <div class="col-md-3 pl-1">
                            <div class="form-group">
                                <label>Miktar</label>
                                <input type="number" class="form-control" placeholder="Miktar" name="quantity">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Açıklama</label>
                                <textarea class="form-control textarea" name="description"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="update ml-auto mr-auto">
                            <button type="submit" class="btn btn-primary btn-round">Ekle</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        @foreach (var item in Model)
        {
            <div class="col-sm-3" style="margin-right: 60px;">
                <div class="card" style="width: 18rem;">
                    <img src="~/assets/images/@item.Pictures" class="card-img-top" alt="">
                    <div class="card-body">
                        <h5 class="card-title">Ürün Adı : @item.Name</h5>
                        <p class="card-text">Barkod : @item.Barcode</p>
                        <p class="card-text">Fiyat : @item.Price ₺</p>
                        <p class="card-text">Miktar : @item.Quantity</p>
                        <p class="card-text">Açıklama : @item.Description</p>

                    </div>
                    <ul class="list-group list-group-flush">

                        @if (item.Deleted == true)
                        {
                            <li class="list-group-item">Pasif : Evet</li>
                        }
                        else
                        {
                            <li class="list-group-item">Pasif : Hayır</li>
                        }

                    </ul>
                    @Html.ActionLink("Güncelle", "UpdateProduct", new { id = item.Id }, new { @class = "btn btn-success" })
                    @Html.ActionLink("Sil", "DeleteProduct", new { id = item.Id }, new { @class = "btn btn-danger" })

                </div>

            </div>
        }
    </div>
</div>
